* {
    box-sizing: border-box;
  }
  
 
  body {
    font-family: Arial;
    margin: 0;
    background-color: black;
    color: #ffffff;
  }
  h1,h2{
    color: white;
    font-size: 16px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: 14px;
  }
  
  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    
  }
  
  
  .navbar {
    display: flex;
    background-color: #121212;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  #login{
    margin-right: 20px;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    color: black;
  }
  
  #input_txt{
    height: 35px;
    width: 310px;
    background-color: rgb(43, 41, 41);
    border-radius: 15px;
    border: none;
    margin-left: 170px;
}
#search_icon{
    position: relative;
    left: -390px;
    top: 0px;
}
#basket_icon{
    position: relative;
    left: -252px;
    top: 0px;
    padding-left: 6px;
    border-left: 1px solid gray;
}
  

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .cards :hover{
    background-color: #242323;
  }
 
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  .side {
    flex: 30%;
    background-color: #1b1919;
    padding: 20px;
  }
  #icon{
padding-left: 8px;
  }
  .txt{
    font-size: 20px;
  }
  /* Main column */
  .main {
    flex: 70%;
    
    padding: 20px;
    background-color: #121212;
  }
  
  
  .side_nav {
    background-color: #242323;
    width: 100%;
    padding-top: 5px;
    padding-left: 20px;
    border-radius: 15px;
  }
  button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
  }
  #btn{
    width: 110px;
    height: 30px;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 1px solid white;
  }
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  .text{
    color: black;
  }
  .cards {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      background-color: black;
      
    }
    .card {
      flex: 0 0 145px;
      margin: 10px;
    
      box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    } 
    
    .card img {
      max-width: 100%;
      border-radius: 60%;
    }
    .card .text {
      padding: 0 20px 0px;
      color: white;
    }
    .card .text > button {
      background: gray;
      border: 0;
      color: white;
      padding: 10px;
      width: 100%;
      }
      .card1 img {
        max-width: 100%;
        
      }
      .card1 {
        flex: 0 0 140px;
        margin: 10px;
       
        /* background-color: #1b1919; */
        
        
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
      } 
      .card1 .text {
        padding: 0 20px 0px;
        color: white;
      }
      .footer{
        display: flex;
        justify-content: space-between;
        background-color: #121212;
      }
      
  